* {
    margin: 0;
    letter-spacing: 1.5px;
    font-family: 'Roboto Serif', serif;
}

body {
    background-image: url(./assets/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.caja {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.titulo {
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
    letter-spacing: 2px;
    color: azure;
}

.again {
    height: 40px;
    width: 150px;
}

.pregunta {
    margin: 0px;
    text-align: center;
    font-size: 40px;
}


.opciones {
    position: absolute;
    top: 16em;
    background-color: whitesmoke;
    height: 450px;
    width: 600px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 2px 2px 5px 5px;
}

.opciones-hijo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.opciones input {
    margin: 20px;
}

.preg-hijo {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.preg-hijo p {
    font-size: 25px;
}


#pregunta-btn {
    width: 30%;
    align-self: center;
    margin-top: 10px;
    height: 60px;
    font-size: 20px;
}

#btn {
    height: 350px;
    width: 250px;
    position: relative;
    top: -20px;
    font-size: 35px;
}

.highscore {
    position: absolute;
    left: 20px;
    top: 39px;
    padding: 15px;
    color: azure;
}

.auspiciante {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: azure;
}

.auspiciante p {
    margin-right: 10px;
}

.logo {
    height: 100px;
    width: 200px;
    margin-left: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}


.verificacion {
    text-align: center;
    font-size: 35px;
    margin-top: 200px;
}


.padreImg {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    object-fit: contain;
}

.padreImg img {
    margin-top: 15px;
}

.hidden {
    display: none;
}